@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.column {
    float: left;
    width: 10%;
    padding: 5px;
    
      }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    opacity: 0;
    transition: .5s ease;
    font-family: 'Montserrat', sans-serif;
    background-color: #030a0c6e;
  }
  
  .container:hover .overlay {
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 150px;
    height: 100px;
    width: 100px;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; 
  }
